<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXu7s2YT7e3MXr8JBDPJUXUEH8an3sF-U</string>
	<key>GCM_SENDER_ID</key>
	<string>659881945205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Khan.PokerZoneLili</string>
	<key>PROJECT_ID</key>
	<string>poker-zone-lili</string>
	<key>STORAGE_BUCKET</key>
	<string>poker-zone-lili.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659881945205:ios:4b59b4b97e7ea3fc9bb03c</string>
</dict>
</plist>